.our-services {
  width: 100%;

  font-family: "Roboto", sans-serif;
  margin-top: 50px;
  .title {
    text-align: center;
    color: #071e5c;
  }
  .service-des {
    text-align: center;
    margin: 10px 30px;
    font-size: 18px;
    color: #6d6d6d;
  }
  .services {
    margin-top: 30px;
    display: flex;
    padding: 0px 100px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .service {
      list-style: none;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 350px;

      border-radius: 5px;
      margin-bottom: 10px;
      li {
        padding: 15px 20px;
        display: flex;
        transition: 0.5s;
        justify-content: start;
        align-items: center;
        font-weight: bold;
        color: #03123b;
        width: 100%;
        margin: 10px 0px;
        font-size: 19px;
        cursor: pointer;

        .feather {
          color: #09236b;
          margin-right: 20px;
          transition: 0.5s;
        }
      }
    }
  }
}

.service-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 40px;
  flex-wrap: wrap;
  img {
    opacity: 0.6;
    transition: 0.5s;
    padding: 10px;

    &:hover {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .our-services {
    .services {
      padding: 0px 50px;
      .service {
        width: 300px;
        border: none;
      }
    }
  }
}
@media only screen and (max-width: 1000px) {
  .our-services {
    .services {
      padding: 0px 10px;
    }
  }
}
@media only screen and (max-width: 620px) {
  .our-services {
    .title {
      font-size: 25px;
    }
    .services {
      width: 100%;
      padding: 0px 10px;

      .service {
        width: 80%;
      }
    }
  }
}
